.about-text {
 h1 {
   font-size: 2em;
 }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}

.about-bottom {
padding: 0;
  .col-xs-4 {
    padding: 0;
  }
  img {
    width: 100%;
  }
}