.widget-title {
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 1.6em;
  }
  @media screen and (max-width: 992px) and (min-width: 768px) {
      font-size: 1.9em;
  }
}

.large-screen {
  display: none;

  @media screen and (min-width: 1500px) {
    display: inline-block;
  }
}

.text-box {
  position: absolute;
  //height: 100%;
  text-align: center;
  //width: 50%;
  opacity: 0.9;

  @media screen and (max-width: 767px) {
    @include font-size(.5);
    h3 {
      font-size: 1.5em;
    }
  }

  @media screen and (max-width: 992px) and (min-width: 768px) {
    @include font-size(.7);
    h3 {
      font-size: 1.9em;
    }
  }

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//our story
.our-title {
  text-align: center;
}

.red-bar {
  background: red;
  height: 7vh;
}