
.center {
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}

.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//our story

.large-screen, .medium-screen {
  display: none;
}

.large-screen {
  @media screen and (min-width: 1024px) {
    display: inline-block;
  }
}

.medium-screen {
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.text-box {
  position: absolute;
  text-align: center;
  opacity: 0.9;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);


  @media screen and (max-width: 767px) {
    @include font-size(.5);
    h3 {
      font-size: 1.4em;
    }
    left: 50%;
    width: 100%;
  }

  @media screen and (max-width: 1400px) and (min-width: 768px) {
    @include font-size(.8);
    h3 {
      font-size: 1.9em;
    }
    left: 50%;
    width: 100%;
  }

}

.red-bar {
  background: red;
  height: 7vh;
}

.our-title {
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 1.6em;
  }
  @media screen and (max-width: 992px) and (min-width: 768px) {
    font-size: 1.9em;
  }
}

.our-text {
  position: relative;
}

//our story