// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
@import "../layout/global";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Frontpage widget
--------------------------------------------------------------*/
@import "frontpage/front-page";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## locations-menu page
--------------------------------------------------------------*/
@import "locations-menu/locations";

/*--------------------------------------------------------------
## catering page
--------------------------------------------------------------*/
@import "catering/catering";

/*--------------------------------------------------------------
## about page
--------------------------------------------------------------*/
@import "about/about";