.entry-title {
  text-align: center;
}

//google map style
//  /* Always set the map height explicitly to define the size of the div
//   * element that contains the map. */
#map {
  height: 60vh;
}

.search-location {
  height: 60vh;
  overflow-y: scroll;
}

/*Insert this style in your css*/
.fontAwesome {
  font-family: 'FontAwesome', Helvetica, sans-serif;
}

.input-search {
  border-radius: 7pt;
  text-align: left;
  width: 100%;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2pt red;
  }
}

#search-area {
  margin: 1em auto 0;
}

.searchresults{
  list-style: none;
  padding: 0;
}

.searchresults h4 {
  color: red;
  margin-bottom: 0;
}

.searchresults p {
  margin: 0;
}
//.section-full {
//  height:100vh;
//  min-height:100vh;
//
//}


///* Optional: Makes the sample page fill the window. */
//aside#secondary,.textwidget, .custom-html-widget#secondary,#post-1748,#main,#primary,#content,#page,body,#custom_html-10,html {
//height: 100%;
//margin: 0;
//padding: 0;
//}