.catering {

  li>a:hover {
    text-decoration: none;
    background-color: transparent;
  }

  a {
    color: #ffffff;
  }

}

.text-cater {
  padding: 2em 0;

  .btn-danger {

    background: $color__background-bar;
    width: 100%;
  }

  a:visited {
    color: #ffffff;
  }

}

//order online opacity box
.order-box {
  position: absolute;
  text-align: center;
  /*opacity: 0.3;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 6em;
  padding-right: 6em;
  background: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 50%;
}

.order-text {
  position: relative;
}

.order-box .order-content {
  color: #ffffff;
}

.order-content {
  .btn-danger {
    width: 28%;
    background: $color__background-bar;
  }
}
//